.group {
    &.is_hover {
        .rotate {
            opacity: 1;
        }
    
        .pen {
            opacity: .5;
        }
    }
}

.wrapper {
    position: relative;
}

.inner {
   
}

.pen {
    cursor: pointer;
    opacity: .2;
    &:hover {
        opacity: 1;
    }
}

.rotate {
    cursor: pointer;
    opacity: .6;
    &:hover {
        opacity: 1;
    }
}

.block {
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f1f1;
    position: relative;
}

.area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.canvas {
    position: relative;
    z-index: 10;
}